* {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  width: 100%;
  height: 80px;
  background-color: #6f6af7;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  header {background: #6f6af7;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  header {background:#6f6af7;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  header {background: #6f6af7;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  header {background:#6f6af7;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  header {background: #6f6af7;}
}
h2 {
  margin-left: 30px;
  margin-right: 20px;
  font-family: "Delius Unicase";
  color: white;
  font-weight: 700;
  font-size: 50px;
}
.navbar {
  margin-left: 7%;
  display: flex;
  justify-content: space-around;
  width: 95em;
  color: white;
  font-size: 24px;
  font-family: "DM Sans", sans-serif;
}
.actionbar {
  margin-left: 5%;
  display: flex;
  justify-content: center;
}
.searchbar {
  height: 40px;
  min-width: 250px;
  width: 30%;
  display: flex;
  align-items: center;
}
.searchinput {
  padding-left: 3%;
  color: #696e79;
  background-color: white;
  flex-grow: 1;
  height: 40px;
  border: 0;
  border-radius: 25px 0px 0px 25px;
}
.searchicon {
  box-sizing: content-box;
  height: 20px;
  padding: 10px;
  background-color: white;
  color: #282c3f;
  font-weight: 300;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
}
.contain {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu {
  color: white;
  font-size: 52px;
  margin-left: 68px;
  margin-right: 28px;
  cursor: pointer;
}
.textbox {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin-top: 60px;
}
#pic {
  width: 280px;
  height: 300px;
  border-radius: 20px;
}
#text {
  background-color: #e5d8ff;
  margin-left: 20px;
  width: 680px;
  height: 280px;
  border-radius: 20px ;
  border: 0px;
  text-align: -webkit-auto;
  padding: 10px;
}
